<div class="search-form">
	<%= form_with url: "/services", method: :get, local: true do |f| %>
		<div class="field">
			<%= f.text_field :name %>
			<%= f.submit "サービス名検索",  class:"btn btn-default" %> <%= link_to '一覧に戻る', services_path %>
		</div>
	<% end %>
</div>

<div class="service-index">
	<h3>サービス一覧</h3>

	<table class="table">
		<thead>
			<tr>
				<th>サービス名</th>
				<th>対応エリア</th>
				<th>料金</th>
				<th>サービス説明</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @services.each do |service| %>
				<tr>
					<td><%= link_to service.name, service_path(service) %></td>
					<td><%= service.area %></td>
					<td><%= service.price %></td>
					<td><%= service.introduction %></td>

				</tr>
			<% end %>
		</tbody>
	</table>
</div>