<h2>新規サービス登録</h2>

<%= form_for(@service) do |f| %>
	<h3>サービス名</h3>
	<%= f.text_field :name %>

	<h3>カテゴリー</h3>
	<%= f.collection_select :category_id, Category.all, :id, :name %>

	<h3>料金</h3>
	<%= f.text_field :price %>

	<h3>対応エリア</h3>
	<%= f.text_field :area %>

	<h3>サービス説明</h3>
	<%= f.text_area :introduction %>

	<%= f.submit '登録する', class:"btn btn-primary" %>
<% end %>