<div class="row">
	<h2>マイページ</h2>
	<h3>登録情報</h3>

		<%= form_for(@user) do |f| %>
		<div class="col-lg-4">
			<div class="profile-edit-image">
				<%= attachment_image_tag @user, :image, size: "300x300", fallback: "no_profile.jpg", size: "300x300" , id: "img_prev"%>
				</div>
					<%= f.attachment_field :image, placeholder: "プロフィール画像" %>
			</div>
		<div class="col-lg-8">
			<table class="table">
					<tr>
						<td>名前</td>
						<td><%= f.text_field :name %></td>
					</tr>
					<tr>
						<td>会社名</td>
						<td><%= f.text_field :company %></td>
					</tr>
					<tr>
						<td>電話番号</td>
						<td><%= f.text_field :phonenumber %></td>
					</tr>
					<tr>
						<td>郵便番号</td>
						<td><%= f.text_field :postcode %></td>
					</tr>
					<tr>
						<td>住所</td>
						<td><%= f.text_field :address %></td>
					</tr>
					<tr>
						<td>メールアドレス</td>
						<td><%= f.email_field :email %></td>
					</tr>
			</table>
			<%= f.submit "更新する", class:"btn btn-success" %>
			<%= link_to '退会する', user_unsubscribe_path(@user), class:"btn btn-danger" %>

			<% end %>
			</div>


</div>

