
<div class="row">
  <div class="col-lg-4" style="margin-top: 30px;">
      <%= render 'profile', user: @user %>
  </div>
  <div class="col-lg-8">
    <h3>フォロー中ユーザー</h3>
    <% if @user.followings.count == 0 %>
      <h4>ユーザーはいません</h4>
    <% else %>
      <% @user.followings.each do |user| %>
        <table class="table">
        <tr>
          <td><%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_profile.jpg", size: "100x100" %>
            <%= user.name %>
            <% end %>
          </td>
          <td><%= user.company %></td>
        </tr>

        </table>
      <% end %>
    <% end %>
  </div>
</div>