<!DOCTYPE html>
<html>
  <head>
    <title>ApoMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class ="navbar">
    <div class="container-fluid">
      <nav class="navbar-header">
        <%= link_to root_path, class:"header-logo" do %>
          <%= image_tag 'topicon.png', :size => '60x60' %>
        <% end %>
      </nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'マイページ', user_path(current_user.id), class:"nav-bar-link" %></li>
          <li class="nav-item"><%= link_to 'サービス一覧', services_path, class:"nav-bar-link" %></li>
          <li class="nav-item"><%= link_to '投稿する', new_service_path, class:"nav-bar-link" %></li>
          <% if unchecked_notifications.any? %>
            <%= @notifications.count %>
          <% end %>
          <li class="nav-item"><%= link_to '通知', notifications_path, class:"nav-bar-link" %></li>
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"nav-bar-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'サービス一覧', services_path, class:"nav-bar-link" %></li>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class:"nav-bar-link" %></li>
          <li class="nav-item"><%= link_to '新規登録',new_user_registration_path, class:"nav-bar-link" %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <body>
    <div class="wrapper">
      <div class="container">
       <%= yield %>
      </div>
    </div>
  </body>
  
  <footer>
      <p clas="footer-text">© ALL rights reserved by ApoBridge.</p>
  </footer>
</html>
